a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

@media(max-width: 768px) {
    .navbar-nav {
        flex-direction: column !important;
    }

    .nav-link {
        margin-left: 10px;
    }
}

.nav-link {
    color: white !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #27ae60 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}