<nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
    <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">Football Tracker</a>
    </div>
	<div class="navbar-collapse">
        <ul *ngIf="loginStatus == 'true'" class="navbar-nav nav">
            <li><a routerLink="/fixtures"><span class="fa fa-futbol-o"></span> Fixtures</a></li>
        </ul>
        <ul *ngIf="loginStatus == 'true'" class="navbar-nav nav">
            <li><a routerLink="/contact"><span class="fa fa-envelope-o"></span> Contact</a></li>
        </ul>
        <ul *ngIf="loginStatus != 'true'" class="navbar-nav navbar-right nav">
            <li>
                <a routerLink="/signup"><span class="fa fa-plus-circle"></span> Sign Up</a>
            </li>
        </ul>
        <ul *ngIf="loginStatus != 'true'" class="navbar-nav navbar-right nav">
            <li>
                <a routerLink="/login"><span class="fa fa-sign-in"></span> Login</a>
            </li>
        </ul>
        <ul *ngIf="loginStatus == 'true'" class="navbar-nav navbar-right nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user"></span> {{ username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()"><span class="fa fa-sign-out"></span> Logout</a>
                </div>
            </li>
        </ul>
	</div>
</nav>
