a:hover {
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #27ae60 !important;
    margin-left: -4em !important;
    margin-top: .25em !important;
}