<div class="container align-middle">
    <div *ngIf="canEdit">
        <h1 class="text-center">Update Profile: {{ user.username }}</h1>
    </div>

    <form [formGroup]="editProfileForm" (submit)="edit()">
        <div *ngIf="canEdit">
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-4 col-sm-6 col-6 offset-sm-3 offset-3">
                    <label for="edit-email" class="control-label">E-mail Address</label>
                    <input type="text" id="edit-email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">E-mail address is required</div>
                        <div *ngIf="f.email.errors.emailExists">An account with that e-mail address already exists</div>
                        <div *ngIf="f.email.errors.pattern">Invalid e-mail format</div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-4 col-sm-6 col-6 offset-sm-3 offset-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" value="1" id="signup-spoilerMode" formControlName="spoilerMode" [ngClass]="{ 'is-invalid': submitted && f.spoilerMode.errors }" [checked]="user.spoilerMode">
                        <label style="font-weight: normal" for="signup-spoilerMode" class="form-check-label">Hide Results</label>
                    </div>
                </div>
            </div>
            <div *ngIf="processing" class="row form-group">
                <div class="offset-lg-4 col-lg-2">
                    <i class="fa fa-spinner fa-spin"></i> Processing...
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-lg-4 offset-md-3 offset-3 col-lg-8 col-md-8 col-sm-8 col-8">
                    <button class="btn btn-success" type="submit">Confirm</button>
                    <button class="btn btn-primary margin-left-10" [routerLink]="['/user', userId]">Cancel</button>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-lg-4 col-lg-5 offset-md-3 col-md-7 offset-sm-2 col-sm-8 offset-2 col-8" style="padding: 0 !important;">
                <flash-messages></flash-messages>
            </div>
        </div>
    </form>
</div>