<div class="container align-middle">
    <h1 class="text-center">Reset Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetPasswordEmail()">
        <div class="row form-group">
            <div class="offset-lg-4 col-lg-5">
                <p class="text-center" style="color: black;">Enter your account's email address below to receive an email with further instructions to reset your password</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-lg-4 col-lg-5">
                <label for="reset-email" class="control-label">E-mail Address</label>
                <input type="email" id="reset-email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail address is required</div>
                    <div *ngIf="f.email.errors.pattern">Invalid e-mail format</div>
                </div>
            </div>
        </div>
        <div *ngIf="processing" class="row form-group">
            <div class="offset-lg-4 col-lg-2">
                <i class="fa fa-spinner fa-spin"></i> Processing...
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-lg-4 col-lg-1">
                <button class="btn btn-success" type="submit">Confirm</button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary" routerLink="/">Cancel</button>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-lg-4 col-lg-5" style="padding: 0">
                <flash-messages></flash-messages>
            </div>
        </div>
    </form>
</div>