<div class="container align-middle">
    <h1 class="text-center">Change Password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div *ngIf="canEdit">
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-5">
                    <label for="current-password" class="control-label">Current Password</label>
                    <input type="password" id="current-password" class="form-control" formControlName="currentPassword" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }">
                    <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-5">
                    <label for="new-password" class="control-label">New Password</label>
                    <input type="password" id="new-password" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                        <div *ngIf="f.newPassword.errors.minlength">New Password must be at least 6 characters long</div> 
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-5">
                    <label for="confirm-new-password" class="control-label">Confirm New Password</label>
                    <input type="password" id="confirm-new-password" class="form-control" formControlName="confirmNewPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }">
                    <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmNewPassword.errors.required">Confirm New Password is required</div>
                        <div *ngIf="f.confirmNewPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
            <div *ngIf="processing" class="row form-group">
                <div class="offset-lg-4 col-lg-2">
                    <i class="fa fa-spinner fa-spin"></i> Processing...
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-1">
                    <button class="btn btn-success" type="submit">Confirm</button>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-primary" [routerLink]="['/user', userId]">Cancel</button>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-lg-4 col-lg-5" style="padding: 0 !important">
                <flash-messages></flash-messages>
            </div>
        </div>
    </form>
</div>