<div class="container align-middle">
    <h1 class="text-center">Reset Password</h1>

    <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
        <div *ngIf="!invalidToken">
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-5">
                    <label for="reset-password" class="control-label">New Password</label>
                    <input type="password" id="reset-password" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters long</div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-5">
                    <label for="reset-confirmPassword" class="control-label">Confirm New Password</label>
                    <input type="password" id="reset-confirmPassword" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm New Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="offset-lg-4 col-lg-1">
                    <button class=" btn btn-success" type="submit">Confirm</button>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-lg-4 col-lg-5" style="padding: 0 !important;">
                <flash-messages></flash-messages>
            </div>
        </div>
        <div *ngIf="invalidToken">
            <div class="row form-group" style="padding: 0">
                <div class="offset-lg-4 col-lg-4">
                    <a routerLink="/reset-password">Reset Password</a>
                </div>
            </div>
        </div>
    </form>
</div>