<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>About Football Tracker</h1>

            <p>Welcome to Football Tracker, a website where you can track the football (soccer) matches you watch, or want to watch. Think of it as <a href="https://www.imdb.com/">IMDb</a> or <a href="https://letterboxd.com/">Letterboxd</a>, but for football games.</p>

            <p>In the <a routerLink="/fixtures">Fixtures</a> tab, you can check the games from the current day, or even search for the games of any date, and then add them to your list of watched games, or the list of games you want to watch. Due to API limits, fixtures are updated every 30 minutes.</p>
                
            <p>You can also click on the name of any team to go to that team's page, where you can view their list of games played in the current season, with the same actions previously mentioned available to you.
        
            Finally, you can do the same with any league. Click on the name of the league to go that league's page, and there you will get a list of games played in that league in the current season, divided by gameweek, with the same "watched" and "want to watch" actions available.</p>

            <p>In your Profile page, you can see your basic information such as username and when you joined the website, as well as your list of games watched and list of games you want to watch.</p>

            <p>Lastly, you can <a routerLink="/contact">Contact Me</a> in case you've found a bug or if there's something you'd like to see improved on the website.</p>

            <!-- TODO: future features (statistics, follow leagues) -->
        </div>
    </div>
</div>
